<section class="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 d-flex justify-content-center col-lg-4">
                <div class="about-us__content">
                    <div class="about-us__content_title">
                        <h2>БІЛЬШЕ ПРО НАС</h2>
                    </div>
                    <div class="about-us__content_descript">
                        <p>Заклад громадського харчування, що спеціалізується на приготуванні піци. Кухар, який
                            виготовляє піцу, називається піцайоло. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./img/about/slide1.png" alt="slide">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about/slide2.png" alt="slide">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about/slide3.png" alt="slide">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about/slide1.png" alt="slide">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about/slide2.png" alt="slide">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next">
                        <img src="./img/about/ArrowRight.svg" alt="arrow">
                    </div>
                    <div class="swiper-button-prev">
                        <img src="./img/about/ArrowLeft.svg" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>