<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-3 col-md-12">
                <div class="footer__logo">
                    <a href="#">
                        <img src="./img/footer/Logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="footer__choose">
                    <h2>ОБИРАЙ</h2>
                    <ul>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Про нас</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="footer__contact">
                    <h2>КОНТАКТИ</h2>
                    <a href="tel:+38(068) 665-51-31">+38(068) 665-51-31</a>
                </div>
                <div class="footer__workTime">
                    <h2>ЧАС РОБОТИ</h2>
                    <p>10:30 - 21:45</p>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="footer__subscribe">
                    <h2>ПІДПИШИСЬ</h2>
                    <div class="subscribe__link">
                        <a href="#" target="_blank"><img src="./img/footer/instagram.svg" alt="instagram"></a>
                        <a href="#" target="_blank"><img src="../img/footer/faceboock.svg" alt="faceboock"></a>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p>2023, RED</p>
            </div>
        </div>
    </div>
</section>