<header class="header" style="background-image: url(./img/header/header-bg.png);">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="header__top d-flex align-items-center">
               <div class="col-2">
                  <div class="header__logo">
                     <a href="#">
                        <img src="./img/header/header-logo.png" alt="logo">
                     </a>
                  </div>
               </div>
               <div class="col-10">
                  <nav class="header__menu">
                     <ul>
                        <li>
                           <a href="#">Про нас</a>
                        </li>
                        <li>
                           <a href="#">Контакти</a>
                        </li>
                        <li>
                           <a href="#">Доставка</a>
                        </li>
                        <li>
                           <a href="#">Меню</a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
         <div class="col-12">
            <div class="header__bottom">
               <div class="header__item">
                  <img src="./img/header/header-bayraktar.png" alt="bayraktar">
               </div>
               <div class="header__title">
                  <h1>Піца високого польоту</h1>
               </div>
               <div class="header__btn">
                  <button>Замовити</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>