<section class="our__pizza">
   <div class="pizza__title">
      <h2>НАША ПІЦЦА:</h2>
   </div>

   <div class="container">
      <div class="row">
         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="01">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="02">
               <div class="pizza__items">
                  <img src="./img/our-pizza/peach.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Персикова</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Персикова</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>175 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="03">
               <div class="pizza__items">
                  <img src="./img/our-pizza/stefania.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Стефанія</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Стефанія</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>125 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="04">
               <div class="pizza__items">
                  <img src="./img/our-pizza/margarita.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Маргарита</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Маргарита</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>235 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="05">
               <div class="pizza__items">
                  <img src="./img/our-pizza/mexicana.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Мексиканська</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Мексиканська</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="06">
               <div class="pizza__items">
                  <img src="./img/our-pizza/spinach.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Шпинатна</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Шпинатна</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>180 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="07">
               <div class="pizza__items">
                  <img src="./img/our-pizza/hawai.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Гаваї</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Гаваї</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>140 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="08">
               <div class="pizza__items">
                  <img src="./img/our-pizza/javelina.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Джавеліна</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Джавеліна</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>265 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card" data-id="09">
               <div class="pizza__items">
                  <img src="./img/our-pizza/bayraktar.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Байрактар</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Байрактар</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control" data-action="minus">-</div>
                     <div class="items__current" data-counter>1</div>
                     <div class="items__control" data-action="plus">+</div>
                  </div>
                  <button data-cart type="button" class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>