.about-us {
    padding-bottom: 76px;
    &__content {
        max-width: 320px;
        width: 100%;
        &_title {
            padding-bottom: 24px;
            text-align: center;
            h2 {
                font-family: $var6;
                font-weight: 700;
                font-size: 32px;
                line-height: 1;
                text-transform: uppercase;
                color: $var2;
            }
        }
        &_descript {
            p {
                font-family: $var5;
                font-size: 20px;
                line-height: 1;
                text-align: center;
            }
        }
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
        background: #000;
        margin: 4px 0;
    }

    .swiper-pagination-bullet-active {
        height: 16px;
        width: 16px;
        background: $var2;
    }

    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 32%);
        top: var(--swiper-navigation-sides-offset, 96%);
        right: auto;
        @media screen and (max-width: 767px) {
            left: var(--swiper-navigation-sides-offset, 28%);
        }
        @media screen and (max-width: 575px) {
            left: var(--swiper-navigation-sides-offset, 22%);
        }
        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 32%);
        top: var(--swiper-navigation-sides-offset, 96%);
        left: auto;
        @media screen and (max-width: 767px) {
            right: var(--swiper-navigation-sides-offset, 28%);
        }
        @media screen and (max-width: 575px) {
            right: var(--swiper-navigation-sides-offset, 22%);
        }
        &::after {
            display: none;
        }
    }
}
