.info {
    padding-top: 100px;

    &__map {
        iframe {
            width: 100%;
            max-height: 588px;
        }
    }

    &__content {
        background: #FFF8F8;
        transform: translateY(-116px);
        border-radius: 12px;
        // max-width: 1080px;
        // width: 100%;
        // height: 370px;

        &_title {
            padding-bottom: 92px;
            padding-top: 64px;

            @media screen and (max-width: 575px) {
                padding-top: 60px;
                padding-bottom: 60px;
            }

            h2 {
                font-family: $var7;
                font-size: 43px;
                line-height: 2.38;
                color: $var3;
                text-align: center;
                text-transform: uppercase;

                @media screen and (max-width:991px) {
                    font-size: 36px;
                }

                @media screen and (max-width:575px) {
                    font-size: 27px;
                }
            }
        }

        &_items {
            padding-bottom: 92px;
            text-align: center;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 40px;

            h2 {
                font-weight: 600;
                font-size: 30px;
                line-height: 1;
                color: $var3;
                padding-bottom: 16px;
                text-transform: uppercase;

                @media screen and (max-width: 991px) {
                    font-size: 24px;
                }
            }

            a {
                text-decoration: none;
                color: rgba(14, 14, 14, 0.8);
                font-size: 24px;
                line-height: 0.85;

                @media screen and (max-width: 991px) {
                    font-size: 20px;
                }
            }

            p {
                text-decoration: none;
                color: rgba(14, 14, 14, 0.8);
                font-size: 24px;
                line-height: 1;

                @media screen and (max-width: 991px) {
                    font-size: 20px;
                }
            }

            .items__contact {
                max-width: 194px;
                width: 100%;
                text-align: center;
            }

            .items__time {
                max-width: 220px;
                width: 100%;
                text-align: center;
            }

            .item__adress {

                max-width: 350px;
                width: 100%;
                text-align: center;
            }

            .item__adres_container {
                margin: 0 auto;
                max-width: 286px;
                width: 100%;
            }
        }
    }

}