.our__pizza {
   .pizza__title {
      margin: 32px 0;
      h2 {
         font-family: $var6;
         font-weight: 700;
         font-size: 48px;
         line-height: 59px;
         text-align: center;
         color: #000000;
      }
   }

   .pizza__card {
      margin: 0 auto;
      max-width: 360px;
      width: 100%;
      max-height: 464px;
      height: 100%;
      background: #ffffff;
      box-shadow: 0px 25px 32px rgba(0, 0, 0, 0.17);
      .pizza__items {
         max-height: 100%;
         position: relative;
         z-index: 20;
         img {
            max-width: 100%;
         }
         &:hover {
            cursor: pointer;
            .items__hover {
               display: flex;
               flex-direction: column;
               justify-content: center;
               z-index: 10;
               padding: 0 20px;
               position: absolute;
               transform: translate(0, 0%);
               opacity: 1;
               top: 0%;
               background: rgba(217, 217, 217, 0.7);
               height: 100%;
            }
            .card__title {
               display: none;
            }
         }
         .info__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 5%;
            width: 100%;
            padding: 0 15px;
            z-index: 20;
            .pizza__info {
               .pizza__weight {
                  font-family: $var5;
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 19px;
                  color: $var2;
               }
               .pizza__size {
                  font-family: $var5;
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 19px;
                  color: $var4;
               }
            }
            .pizza__favourite {
               width: 50px;
               height: 50px;
               background-color: $var1;
               display: flex;
               justify-content: center;
               align-items: center;
               border: none;
               border-radius: 50%;
               transition: 0.3s;
               &:hover {
                  transform: scale(1.2);
               }
            }
         }
         .card__title {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 5%;
            transform: translate(0%, 0%);
            h3 {
               font-family: $var5;
               font-weight: 600;
               font-size: 20px;
               line-height: 23px;
               text-align: center;
               text-transform: uppercase;
               color: $var4;
               padding: 16px 24px;
               background: rgba(255, 255, 255, 0.9);
            }
         }
         .items__hover {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
            top: 0%;
            left: 0%;
            transform: translate(0, 30%);
            opacity: 0;
            z-index: -2;
            transition: 0.3s;
            .title__hover {
               font-family: $var5;
               font-weight: 800;
               font-size: 20px;
               line-height: 23px;
               text-transform: uppercase;
               text-align: center;
               color: rgba(0, 0, 0, 0.8);
               padding-bottom: 38px;
            }
            .describe__hover {
               font-family: $var5;
               font-weight: 500;
               font-size: 16px;
               line-height: 23px;
               text-transform: uppercase;
               text-align: center;
               color: rgba(0, 0, 0, 0.7);
            }
         }
      }
      .pizza__buy {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 30px 8px;
         .pizza__counter {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 90px;
            width: 100%;
            .items__control {
               font-family: $var6;
               font-weight: 300;
               font-size: 24px;
               text-align: center;
               color: $var3;
               padding: 6px;
               border: 2px solid $var3;
               cursor: pointer;
            }
            .items__current {
               font-family: $var5;
               font-weight: 600;
               font-size: 16px;
               line-height: 19px;
               text-align: center;
               color: $var3;
            }
         }
         .buy__btn {
            background: $var2;
            border: none;
            font-family: $var5;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: $var1;
            padding: 12px 0;
            max-width: 154px;
            width: 100%;
            transition: 0.3s;
            &:hover {
               background-color: #990000;
            }
         }
         .pizza__price {
            p {
               font-family: $var5;
               font-weight: 600;
               font-size: 20px;
               line-height: 42px;
               color: $var3;
            }
         }
      }
   }
}
