.top__menu {
   background-color: $var3;
   .menu__left {
      padding: 18px 0;
      display: flex;
      gap: 40px;
      @media screen and (max-width: 991px) {
         display: none;
      }
      .menu__location {
         max-width: 182px;
         width: 100%;
         a {
            font-family: $var5;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $var1;
         }
      }
      .menu__time {
         display: flex;
         align-items: center;
         justify-content: space-between;
         max-width: 154px;
         width: 100%;
         .time__img {
            max-width: 12px;
            max-height: 15px;
         }
         p {
            font-family: $var5;
            font-style: normal;
            font-weight: 900;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $var1;
         }
      }
      .menu__phone {
         max-width: 198px;
         width: 100%;
         a {
            font-family: $var5;
            font-style: normal;
            font-weight: 900;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            color: $var1;
            img {
               padding-right: 10px;
            }
         }
      }
   }

   .mobile__menu {
      display: none;
      @media screen and (max-width: 991px) {
         display: block;
         margin: 30px 0;
      }

      .burger__menu {
         position: fixed;
         top: -100%;
         left: 0;
         display: flex;
         padding-top: 100px;
         align-items: center;
         width: 100%;
         height: 100%;
         background-color: $var1;
         transition: 0.3s;
         z-index: 10;
         background-size: cover;
         background-position: right;
         background-repeat: no-repeat;
         li {
            list-style: none;
            padding: 0 10px 42px 10px;
            text-align: center;
            a {
               text-decoration: none;
               color: $var1;
               font-size: 26px;
               line-height: 1.2;
               &:hover {
                  color: $var6;
               }
            }
         }
      }
      .burger__menu.open {
         flex-direction: column;
         transition: 0.3s;
         top: 0;
         left: 0;
         z-index: 30;
         overflow: scroll;
      }
      .burger {
         display: none;
         position: relative;
         z-index: 2;
         overflow: hidden;
         width: 40px;
         height: 25px;
         @media screen and (max-width: 991px) {
            display: block;
         }
         &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            top: 0;
            left: 0;
            background-color: $var2;
            transition: 0.3s;
            border-radius: 16px;
         }
         &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $var2;
            transition: 0.3s;
            border-radius: 16px;
         }
         span {
            position: absolute;
            height: 4px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translate(0px, -50%);
            background-color: $var2;
            transition: 0.3;
            border-radius: 16px;
         }
      }
      .burger.active {
         &::before {
            transform: translateY(12px) rotate(45deg);
            transition: 0.3s;
         }
         &::after {
            transform: translateY(-12px) rotate(-45deg);
            transition: 0.3s;
         }
         &.burger {
            z-index: 30;
         }
         &.burger {
            span {
               opacity: 0;
               transition: 0.3s;
            }
         }
      }
   }

   .mobile__logo {
      display: none;
      @media screen and (max-width: 991px) {
         display: flex;
         justify-content: center;
      }
      img {
         height: 50px;
      }
      @media screen and (max-width: 480px) {
         display: none;
      }
   }

   .menu__right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;

      .fav__modal {
         position: fixed;
         top: 0%;
         left: 0;
         padding: 140px;
         z-index: 1060;
         display: none;
         width: 100%;
         height: 100%;
         overflow-x: hidden;
         overflow-y: hidden;
         outline: 0;
         .fav__container {
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: 1215px;
            max-height: 700px;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.3rem;
            outline: 0;
            .fav__content {
               padding: 90px 70px;
               overflow-y: scroll;
               h2 {
                  font-family: $var5;
                  font-weight: 600;
                  font-size: 40px;
                  line-height: 47px;
                  color: $var3;
                  padding-bottom: 66px;
                  border-bottom: 2px solid grey;
               }
            }

            .close__favourite {
               position: absolute;
               right: 0%;
               top: 0%;
               z-index: 2000;
               width: 80px;
               height: 80px;
               border-radius: 0 0 0 50%;
               border: none;
               background-color: $var2;
            }
         }
      }

      .menu__favourite {
         background: none;
         border: none;
         position: relative;
         .favourite__amount {
            position: absolute;
            background: $var2;
            border-radius: 16px;
            padding: 2px 4px;
            font-family: $var5;
            font-weight: 700;
            font-size: 11px;
            line-height: 12px;
            color: $var1;
            top: -10px;
            right: 0;
         }
      }
      .menu__border {
         width: 1px;
         height: 30px;
         margin: 0 18px;
         background: rgba(241, 241, 241, 0.2);
      }

      .cart__modal {
         position: fixed;
         top: 0%;
         left: 0;
         // padding: 140px;
         z-index: 1060;
         display: none;
         width: 100%;
         height: 100%;
         overflow-x: hidden;
         overflow-y: hidden;
         outline: 0;
         .cart__container {
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: 1215px;
            height: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.3rem;
            outline: 0;
            .cart__content {
               padding: 90px 70px;
               overflow-y: scroll;
               h2 {
                  font-family: $var5;
                  font-weight: 600;
                  font-size: 40px;
                  line-height: 47px;
                  color: $var3;
               }
               .pizza__body_cart {
                  display: flex;
                  justify-content: space-between;
                  border-top: 3px solid rgba(0, 0, 0, 0.3);
                  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                  padding: 20px;
                  margin: 66px 0;
                  .cart__img{
                     display: flex;
                     flex: 0 0 40%;
                     img{
                        max-width: 200px;
                        max-height: 200px;
                     }
                  }
                  .cart__info{
                     display: flex;
                     flex-direction: column;
                     flex: 0 0 60%;
                     .info__main{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 40px;
                        .cart__title{
                           h3{
                              font-family: $var5;
                              font-weight: 800;
                              font-size: 20px;
                              color: $var4;
                              text-transform: uppercase;
                           }
                        }

                        .cart__pizza_size, .cart__pizza_weight{
                           p{
                              font-family: $var5;
                              font-weight: 500;
                              font-size: 16px;
                              color: $var4;
                           }
                        }

                        .cart__counter{
                           .pizza__counter{
                              display: flex;
                           }
                        }
                     }

                     .delete__pizza{
                       border: none;
                     }

                     .info__additional{
                        display: flex;
                        justify-content: space-between;
                        .additional__sauce, .additional__drink{
                           h3{
                              margin-bottom: 10px;
                              font-family: $var5;
                              font-weight: 500;
                              font-size: 16px;
                              color: $var4;
                           }
                           .sauce__choose, .drink__choose{
                              fieldset{
                                 display: flex;
                                 align-items: center;
                                 margin-bottom: 10px;
                                 .additional__counter{
                                    display: flex;
                                    margin-left: 20px;
                                 }
                              }
                              
                           }
                        }

                     }
                  }
               }

               form {
                  .form__name {
                     padding-bottom: 34px;
                     .name__label {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }
                     input[type="text"] {
                        width: 100%;
                        height: 54px;
                        border: 2px solid $var3;
                        border-radius: 12px;
                        padding-left: 30px;
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }
                     input[type="text"]::placeholder {
                        font-family: $var6;
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }
                  }

                  .form__tel {
                     padding-bottom: 34px;
                     .name__label {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }
                     input[type="tel"] {
                        width: 100%;
                        height: 54px;
                        border-radius: 12px;
                        padding-left: 30px;
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        &:focus-visible {
                           outline: -webkit-focus-ring-color auto 0px;
                        }
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }
                     input[type="tel"]::placeholder {
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }

                     input:invalid {
                        color: $var3;
                        border: 2px solid #8b0000;
                     }

                     input:valid {
                        color: $var3;
                        border: 2px solid #009000;
                     }
                  }
                  .delivery {
                     .delivery__title {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }

                     .delivery__byself {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        .form-check-input {
                           width: 25px;
                           height: 25px;
                           margin-right: 12px;
                           &:checked {
                              background-color: $var2;
                              border-color: $var3;
                           }
                           &:focus {
                              box-shadow: 0 0 0 0;
                           }
                        }
                     }

                     .delivery__courier {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        .form-check-input {
                           width: 25px;
                           height: 25px;
                           margin-right: 12px;
                           &:checked {
                              background-color: $var2;
                              border-color: $var3;
                           }
                           &:focus {
                              box-shadow: 0 0 0 0;
                           }
                        }
                     }
                  }

                  .payment {
                     .payment__title {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }

                     .payment__cash {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        .form-check-input {
                           width: 25px;
                           height: 25px;
                           margin-right: 12px;
                           &:checked {
                              background-color: $var2;
                              border-color: $var3;
                           }
                           &:focus {
                              box-shadow: 0 0 0 0;
                           }
                        }
                     }

                     .payment__bank {
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        .form-check-input {
                           width: 25px;
                           height: 25px;
                           margin-right: 12px;
                           &:checked {
                              background-color: $var2;
                              border-color: $var3;
                           }
                           &:focus {
                              box-shadow: 0 0 0 0;
                           }
                        }
                     }
                  }

                  .address {
                     margin-bottom: 40px;
                     .address__title {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }
                     input[type="text"] {
                        width: 100%;
                        height: 54px;
                        border: 2px solid $var3;
                        border-radius: 12px;
                        padding-left: 30px;
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }
                     input[type="text"]::placeholder {
                        font-family: $var6;
                        font-size: 21px;
                        line-height: 27px;
                        color: $var3;
                        @media screen and (max-width: 480px) {
                           font-size: 18px;
                        }
                     }
                  }

                  .comment {
                     margin-bottom: 60px;
                     .comment__title {
                        font-family: $var5;
                        font-weight: 500;
                        font-size: 35px;
                        color: $var3;
                        margin-bottom: 20px;
                     }
                     textarea {
                        width: 100%;
                        padding: 20px;
                     }
                  }

                  .total__order {
                     margin-bottom: 40px;
                     .none {
                        .total__delivery {
                           font-family: $var5;
                           font-weight: 600;
                           font-size: 30px;
                           line-height: 35px;
                           color: $var3;
                        }
                     }
                     p {
                        text-align: right;
                        .total__title {
                           font-family: $var5;
                           font-weight: 600;
                           font-size: 30px;
                           line-height: 35px;
                           color: $var3;
                           text-transform: uppercase;
                        }

                        .total__price {
                           font-family: $var5;
                           font-weight: 600;
                           font-size: 30px;
                           line-height: 35px;
                           color: $var3;
                        }
                     }
                  }

                  .order__submit {
                     text-align: center;
                     button {
                        background-color: $var2;
                        font-family: $var5;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: $var1;
                        border: none;
                        padding: 40px 80px;
                     }
                  }
               }
            }
            .close__cart {
               position: absolute;
               right: 0%;
               top: 0%;
               z-index: 2000;
               width: 80px;
               height: 80px;
               border-radius: 0 0 0 50%;
               border: none;
               background-color: $var2;
            }
         }
      }

      .menu__basket {
         background: none;
         border: none;
         position: relative;
         .basket__amount {
            position: absolute;
            background: $var2;
            border-radius: 16px;
            padding: 2px 4px;
            font-family: $var5;
            font-weight: 700;
            font-size: 11px;
            line-height: 12px;
            color: $var1;
            top: -6px;
            right: 0;
         }
      }
   }
   .count__price {
      font-family: $var5;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      color: $var1;
      padding-left: 6px;
   }
}

.menu__open {
   overflow: hidden;
}
.menu__active {
   overflow: scroll;
}